
.div {
    max-width: 1260px;
    margin: 0 auto;
    background-color: #333333;
    border-radius: 30px;
    border: 1px solid #FFFBF0;
    margin-top: 20px;
    margin-left: 313px;
    
    
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    width: 1300px;
    margin: 0 auto;
    background-color: #333333;
    border-radius: 30px;
    border: 1px solid #FFFBF0;
    margin-top: 20px;
    left: 25%;
    position: absolute;
}

.nav a {
    color: white;
    text-decoration: none;
}

.navDiv {
    display: flex;
    align-items: center;
}
.sv{
    color: #333333;
    border-radius: 30px;
    border: 1px solid #FFFBF0;
    text-decoration: none;
    width: 190px;
    height: 40px;
    background-color: inherit;
    color: white;
    cursor: pointer;
}

.navDiv a:not(:last-child) {
    margin-right: 13px;

}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

.nav a:not(:last-child) {
    margin-right: 13px;
}